#very-simple-crm {
    display: inline-block;
    width: 100%;
}

#very-simple-crm input[type="text"],
#very-simple-crm input[type="email"],
#very-simple-crm input[type="tel"],
#very-simple-crm select,
#very-simple-crm textarea {
    background-color: #fefefe;
    border: 1px solid #dedede;
    border-radius: 0;
    display: block;
    font-size: 1rem;
    padding: 10px 15px;
    width: 100%;
}

#very-simple-crm input[type="submit"],
#very-simple-crm input[type="button"] {
    background-color: #555;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.125rem;
    margin-right: 1em;
    margin-top: 1em;
    padding: 15px 30px;
    text-transform: uppercase;
}

#very-simple-crm label {
    display: inline-block;
    margin-top: 1em;
}